<script>debugger</script>

<h1 class="faveg"> Your Favorites</h1>
<ul>  
    <% favorites.forEach(( fave)=>{ %>
      <form class="faveg" action="/faves/?_method=DELETE" method="POST">
        <p class="faveg"> <%= fave.Game%></p>
        <input type="submit" value="Delete" />
        <input type="hidden" value="<%= fave.id %>" name="id" id="fave"/>
      </form>      
    <% })%>
</ul>  


