  
<form action="/faves"method=GET>

    <div id="fav">Favorites</div>

    <ul>
        <% allFaves.forEach(favorite => { %>
      <li>      <%= favorite.title %>     </li>
      <%  }) %>
    </ul>
    </form>