
<div class="jumbotron">
    <h1 id="heading">Welcome Gamers!</h1>
    <p id="lead">forGamers is an app for all gamers looking for their next conquest. here you can find games from all genres and platforms as well as the experiences of other players to make sure the next game you play is the one that you want.</p>
  </div>
