<h3 class="profile">Welcome to your PROFILE </h3>
<h4 class="profile"> Here you can edit your Username</h4>
<form action="/profile/?_method=PUT" method="POST">
    <input type="text" placeholder="New Name" name="name" id="name"/>
    <input type="submit" value="Change Username">
</form>
