/* nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1 {
  color: chartreuse;
} */
#body{
  background-color:black;
}
#title{
  text-align: center;
  color: blue;
}

.main{
  background-color: blue;
}

#heading{
  text-align: center;
}

#login{
  position: absolute; right: 80px;
  top: 1px;
}

#lead{
  text-align: center;
}

.jumbotron{
  color:blue;
}
.sign{
  color: blue;
  text-align: center;
}
.signup{
  color: blue;
  text-align: center;
  display: grid;
}
#createacc{
text-align: center;
padding: 25px;
}

.log{
  color: blue;
  text-align: center;
}

#fav{
  color: blue;
  font-size: 250%;
  text-align: center;
}

#new{
  color: blue;
  text-align: center;
  font-size: 250%;
}

#top{
  color: blue;
  font-size: 250%;
  text-align: center;
}

#list{
  padding: 0%;
}

.gameimg{
  width: 300px;
  height: 300px;
}

.cp{
  text-align: center;
}

#buttonR{
  text-align: center;
  background-color: gray;
  color: blue;
}

#searchbar{
  text-align: center;
}

#SFGH{
  color: blue;
  text-align: center;
}

.displayT{
  color: blue;
  text-align: center;
  display: inline;

}

#gameL{
  color: blue;
  font-size: 200px;
  text-align: center;
}

.cardimg{
  width: 285px;
  height: 250px;
}

.cards{
  
}